@model List<EntityLayer.Concrete.Contact>

<div class="col-md-6" data-aos="fade-left" data-aos-delay="300">
    <div class="mt-3 px-1">
        <div class="h5">Size nasıl yardımcı olabilirim?</div>
        <p>İş birlikleri ve sorularınız için bana ulaşabilirsiniz. </p>
        <p>Aşağıdaki adresler üzerinden bana mail gönderebilir veya sorularınızı iletebilirsiniz.</p>
        <p>BY BY!</p>
    </div>
    <div class="mt-53 px-1">
        <div class="row">
            <div class="col-sm-2">
                <div class="pb-1">Email:</div>
            </div>
            <div class="col-sm-10">
                <div class="pb-1 fw-bolder">keremdaglar22@hotmail.com</div>
            </div>
            <div class="col-sm-2">
                <div class="pb-1">Github:</div>
            </div>
            <div class="col-sm-10">
                <div class="pb-1 fw-bolder">KeremD22</div>
            </div>
            <div class="col-sm-2">
                <div class="pb-1">Telefon:</div>
            </div>
            <div class="col-sm-10">
                <div class="pb-1 fw-bolder">+90 545 775 4645</div>
            </div>
        </div>
    </div>
</div>